* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Avenir Next",Avenir,sans-serif;
}

canvas {
  position: absolute;
  z-index: -1
}

#jumbotron {
  text-align: center;
  color: #666;
}

#bottomBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(#661B33, #280613);
  overflow: hidden;
}

#iconRow {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#upArrow {
  height: 30px;
}

#nowPlaying {
  z-index: 50;
  position: relative;
  display: inline-block;
  width: 45%;
  padding: 15px;
  padding-top: 0px;
  left: 0;
}

#nowPlaying h3 {
  color: #060606;
}

#nowPlaying a {
  text-decoration: none;
}

#infoArtist a {
  font-size: 14px;
  color: #444;
}

#infoTrack a {
  font-size: 16px;
  color: #666;
}

#controlPanel {
  position: relative;
  display: inline-block;
  float: right;
  width: 45%;
  padding: 10px;
  text-align: right;
  top: 3em;
}

#soundcloud_url_input {
  font-size: 16px;
  padding: 4px;
  background-color: #222;
  border: 0px;
  right: 5px;
  width: 80%;
  max-width: 720px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
}

#submit {
  outline: none;
  font-size: 16px;
  padding: 4px;
  color: #8888FF;
  background-color: #222;
  border: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

}

#submit:hover {
  background-color: #224;
}

#submit:active {
  background-color: #22A;
}

#player {
  position: relative;
  padding-top: 5px;
  width: 80%;
  max-width: 800px;
}

#poweredBy {
  position: relative;
  left: 10px;
}

#infoImage {
  position: relative;
  float: left;
}

#trackInfo {
  position: relative;
  left: 10px;
}

.show {
  animation-name: open;
  animation-duration: 0.5s;
  max-height: 100%;
}

.hide {
  animation-name: close;
  animation-duration: 0.5s;
  max-height: 30px;
}

@keyframes open {
  0%  {max-height: 30px;}
  100% {max-height: 100%;}
}

@keyframes close {
  0%  {max-height: 100%;}
  100% {max-height: 30px;}
}

@media all and (max-width: 700px) {
  #controlPanel {
    width: 90%;
    top: 0%;
  }

  #nowPlaying {
    width: 90%;
  }
}
