* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Avenir Next",Avenir,sans-serif;
}

canvas {
  position: absolute;
  z-index: -1
}

#jumbotron {
  text-align: center;
}

#bottomBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #777;
}

#nowPlaying {
  z-index: 50;
  position: relative;
  width: 30%;
  display: inline-block;
  padding: 15px;
  left: 0;
}

#controlPanel {
  position: relative;
  display: inline-block;
  width: 60%;
  padding: 10px;
  text-align: right;
}

#soundcloud_url_input {
  font-size: 16px;
  padding: 4px;
  color: #666;
  background-color: #222;
  border: 0px;
  right: 5px;
  width: 60%;
  max-width: 720px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#submit {
  outline: none;
  font-size: 16px;
  padding: 4px;
  color: #8888FF;
  background-color: #222;
  border: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

}

#submit:hover {
  background-color: #224;
}

#submit:active {
  background-color: #22A;
}

#player {
  position: relative;
  padding-top: 5px;
  width: 60%;
  max-width: 800px;
}

#poweredBy {
  position: relative;
  left: 10px;
}

#infoImage {
  position: relative;
  float: left;
}

#trackInfo {
  position: relative;
  left: 10px;
}
