* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Avenir Next",Avenir,sans-serif;
  height: 100%;
}

canvas {
  position: absolute;
  z-index: -1
}

#jumbotron {
  text-align: center;
}

#nowPlaying {
  z-index: 50;
  position: absolute;
  padding: 10px;
  bottom: 0;
  float: left;
  text-align: left;
  width: 30%;
}

#controlPanel {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 110px;
  padding: 10px;
  text-align: right;
}

#urlForm {
  position: relative;
  bottom: 5px;
}

#soundcloud_url_input {
  font-size: 16px;
  padding: 4px;
  color: #666;
  background-color: #222;
  border: 0px;
  width: 60%;
  max-width: 745px;
  right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#submit {
  outline: none;
  font-size: 16px;
  padding: 4px;
  color: #8888FF;
  background-color: #222;
  border: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

}

#submit:hover {
  background-color: #224;
}

#submit:active {
  background-color: #22A;
}

#player {
  position: relative;
  left: 0px;
  width: 65%;
  max-width: 800px;
}

#poweredBy {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
